.Navbar{

    margin: 20px;
}
.img{
    width: 32px;
    margin-left: 13px;
}
.navbar-brand{
    margin-left: 13px;
    font-size: 16px;
    font-family: 'Satoshi';
}
.flex{
    display: flex;
    justify-content: space-between;
    width: 52%;
    margin-left: 345px;
}
.flex-items {
    text-align: center;
    font-size: 16px;
    font-family: 'Satoshi';
}
.dropdown{
    margin-left: 240px;
    list-style: none;
    background-color: rgb(237,242,247);
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-family: 'Satoshi';
    padding-left: 15px;
    line-height: 40px;
    border-radius: 10px;
}
.dropdown:hover{
    background-color: rgb(217, 221, 224);
}
.button{
    list-style: none;

}
.btn{
    margin-left: 20px;
    width: 90px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(82,53,232);
    border-color: rgb(82,53,232)    ;
    color: white;
}
.btn:hover{
    background-color: rgb(227, 232, 236);
    color: white;
}

@font-face {
    font-family: 'Satoshi';
    src: local('Satoshi Bold'), local('Satoshi-Bold'),
        url('Satoshi-Bold.woff2') format('woff2'),
        url('Satoshi-Bold.woff') format('woff');  
    font-style: normal;
  }