.Navbar{
    background-color: white;
    margin: 20px;
}
.img{
    width: 32px;
    margin-left: 13px;
}
.navbar-brand{
    margin-left: 13px;
    font-size: 16px;
    font-family: 'Satoshi';
}
.flex{
    display: flex;
    justify-content: space-between;
    width: 52%;
    margin-left: 345px;
}
.flex-items {
    text-align: center;
    font-size: 16px;
    font-family: 'Satoshi';
}



@font-face {
    font-family: 'Satoshi';
    src: local('Satoshi Bold'), local('Satoshi-Bold'),
        url('Satoshi-Bold.woff2') format('woff2'),
        url('Satoshi-Bold.woff') format('woff');  
    font-style: normal;
  }